[buildout]
extensions = mr.developer
extends =
#    http://dist.plone.org/release/4.3-latest/versions.cfg
    plone-4.cfg
    custom-settings.cfg
    production-kgv.cfg

find-links =
    http://dist.plone.org/release/4.3-latest/
    http://dist.plone.org/thirdparty/

newest = false
show-picked-versions = true
eggs =
    Plone
    plone.app.upgrade
zcml =
versions = versions

# For options see http://pypi.python.org/pypi/mr.developer
auto-checkout = *
sources = sources

var-dir=${buildout:directory}/var

parts =
    lxml
    zeoserver
    client1
    client2
    client3
    client4
    client-debug
    sitecustomize-base
    client1-sitecustomize
    client2-sitecustomize
    client3-sitecustomize
    client4-sitecustomize
    client-debug-sitecustomize 
    supervisor
    supervisor-crontab
    logrotate-config
    logrotate-crontab
    backup
    backup-daily-crontab
    backup-weekly-crontab
    backup-full-weekly-crontab
    maintenance-schedule-crontab

##############################################################################
#  Configurations.
##############################################################################

# Plone Website names using for virtual hosting configurations
[plone-sites]
main = ${site-settings:site-id}

[versions]
z3c.recipe.staticlxml = 0.9

# Required by:
# z3c.recipe.staticlxml==0.9
zc.recipe.cmmi = 1.3.5

# Default settings for ZEO clients.
# ZEO clients basic configurations.
# For options see http://pypi.python.org/pypi/plone.recipe.zope2instance
[client_base]
# Common options
zodb-cache-size       = ${buildout:zodb-cache-size}
zeo-client            = true
effective-user        = ${site-settings:user-server}
eggs                  = ${buildout:eggs}
zcml                  = ${buildout:zcml}
enviroment-vars =
    zope_i18n_compile_mo_files true

# Basic ZEO storage
zeo-client            = true
zeo-address           = ${zeoserver:zeo-address}
user                  = ${site-settings:instance_username}:${site-settings:instance_password}
blob-storage          = ${zeoserver:zeo-var}/blobstorage

# shared blobs are much faster if we're on the same server.
# if not, turn it off.
shared-blob           = on

# Advanced ZEO options
zeo-client-cache-size = 300MB

# Debug mode
debug-mode = off
verbose-security = off
deprecation-warnings = off
security-policy-implementation = python

#copied from http://stackoverflow.com/questions/5993334/error-notification-on-plone-4
mailinglogger =
    <mailing-logger>
      level error
      flood-level 10
      smtp-server ${site-settings:mail-smtp-url}
      from ${site-settings:mail-logger}
      to ${site-settings:mail-for-errors}
      subject [Error en ${site-settings:domain-name-production}] [%(hostname)s] %(line)s
    </mailing-logger>

# Load non-setuptools compatible Python libraries
products =
    ${buildout:directory}/products/

[zeoserver_base]
# Packing
pack-days = 0

# Customization
eggs =
    ZODB3
    mailinglogger

# If we try to start as root, Zope will switch to the user below
effective-user = ${site-settings:user-server}

# Process
zeo-var = ${buildout:directory}/var

# Set storage
blob-storage   = ${buildout:var-dir}/blobstorage
shared-blob    = on

# Logging
# Put the log, pid and socket files in var/zeoserver
zeo-log        = ${zeoserver:zeo-var}/${:_buildout_section_name_}/zeoserver.log
pid-file       = ${zeoserver:zeo-var}/${:_buildout_section_name_}/zeoserver.pid
socket-name    = ${zeoserver:zeo-var}/${:_buildout_section_name_}/zeo.zdsock

# For options see http://pypi.python.org/pypi/plone.recipe.zeoserver
[zeoserver]
<= zeoserver_base
recipe         = plone.recipe.zeoserver
zeo-address    = ${hosts:zeoserver}:${ports:zeoserver}

[client1]
<= client_base
recipe                = plone.recipe.zope2instance
http-address          = ${hosts:client1}:${ports:client1}
# Put the log, pid, loc files in var/client1
event-log             = ${buildout:directory}/var/${:_buildout_section_name_}/event.log
z2-log                = ${buildout:directory}/var/${:_buildout_section_name_}/Z2.log
pid-file              = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.pid
lock-file             = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.lock

[client2]
<= client_base
recipe                = plone.recipe.zope2instance
http-address          = ${hosts:client2}:${ports:client2}
# Put the log, pid, loc files in var/client2
event-log             = ${buildout:directory}/var/${:_buildout_section_name_}/event.log
z2-log                = ${buildout:directory}/var/${:_buildout_section_name_}/Z2.log
pid-file              = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.pid
lock-file             = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.lock

[client3]
<= client_base
recipe                = plone.recipe.zope2instance
http-address          = ${hosts:client3}:${ports:client3}
# Put the log, pid, loc files in var/client3
event-log             = ${buildout:directory}/var/${:_buildout_section_name_}/event.log
z2-log                = ${buildout:directory}/var/${:_buildout_section_name_}/Z2.log
pid-file              = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.pid
lock-file             = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.lock

[client4]
<= client_base
recipe                = plone.recipe.zope2instance
http-address          = ${hosts:client4}:${ports:client4}
# Put the log, pid, loc files in var/client4
event-log             = ${buildout:directory}/var/${:_buildout_section_name_}/event.log
z2-log                = ${buildout:directory}/var/${:_buildout_section_name_}/Z2.log
pid-file              = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.pid
lock-file             = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.lock

# Zeo client instance for debugging
[client-debug]
<= client_base
recipe                = plone.recipe.zope2instance
http-address          = ${hosts:client-debug}:${ports:client-debug}
zeo-address           = ${hosts:zeoserver}:${ports:zeoserver}
debug-mode            = on
verbose-security      = on
zodb-cache-size       = 5000
# Put the log, pid, loc files in var/client-debug
event-log             = ${buildout:directory}/var/${:_buildout_section_name_}/event.log
z2-log                = ${buildout:directory}/var/${:_buildout_section_name_}/Z2.log
pid-file              = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.pid
lock-file             = ${buildout:directory}/var/${:_buildout_section_name_}/client-debug.lock

# This recipe help to enabled encoding to utf-8.
# For options see http://pypi.python.org/pypi/collective.recipe.template
[sitecustomize-base]
recipe = collective.recipe.template
inline =
    import sys
    sys.setdefaultencoding('utf-8')
output = ${buildout:bin-directory}/sitecustomize.py
mode = 644

[client1-sitecustomize]
<= sitecustomize-base
output = ${client1:location}/sitecustomize.py

[client2-sitecustomize]
<= sitecustomize-base
output = ${client2:location}/sitecustomize.py

[client3-sitecustomize]
<= sitecustomize-base
output = ${client3:location}/sitecustomize.py

[client4-sitecustomize]
<= sitecustomize-base
output = ${client4:location}/sitecustomize.py

[client-debug-sitecustomize]
<= sitecustomize-base
output = ${client-debug:location}/sitecustomize.py

##############################################################################
# Supervisor
##############################################################################

# This recipe help to install Supervisor, one to rule them all
# For options see http://pypi.python.org/pypi/collective.recipe.supervisor
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${supervisor-settings:user}
password = ${supervisor-settings:password}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
loglevel = info
logfile = ${buildout:directory}/var/log/supervisord.log
logfile_maxbytes = 50MB
logfile_backups = 10
pidfile = ${buildout:directory}/var/supervisord.pid
file = ${buildout:directory}/var/supervisord.sock
chmod = 0700
nodaemon = false
#plugins = superlance
programs =
#  Prio Name      Program                                      Params
   10   zeoserver ${buildout:bin-directory}/zeoserver   [foreground]   ${zeoserver:location}   true
   20   client1 ${buildout:bin-directory}/client1   [console]   ${client1:location}   true
   20   client2 ${buildout:bin-directory}/client2   [console]   ${client2:location}   true
   20   client3 ${buildout:bin-directory}/client3   [console]   ${client3:location}   true
   20   client4 ${buildout:bin-directory}/client4   [console]   ${client4:location}   true

eventlisteners =
# Check every 60 seconds that no child process has exceeded. it's like a RSS memory quota
#    MemoryMonitor TICK_60 ${buildout:bin-directory}/memmon [-g zeo-clients=${quotas:instance-memory} -m ${site-settings:mail-for-errors}]
# Check every 60 seconds whether the plone instance is alive
#    HttpOk1 TICK_60 ${buildout:bin-directory}/httpok [-p client1 -t 20 http://${hosts:client1}:${ports:client}/${plone-sites:main}]
#    HttpOk2 TICK_60 ${buildout:bin-directory}/httpok [-p client2 -t 20 http://${hosts:client2}:${ports:client2}/${plone-sites:main}]
#    HttpOk3 TICK_60 ${buildout:bin-directory}/httpok [-p client3 -t 20 http://${hosts:client3}:${ports:client3}/${plone-sites:main}]
#    HttpOk4 TICK_60 ${buildout:bin-directory}/httpok [-p client4 -t 20 http://${hosts:client4}:${ports:client4}/${plone-sites:main}]

groups =
    10 zeo-cluster zeoserver
    20 zeo-clients client1,client2,client3,client4
#    40 httpok HttpOk1,HttpOk2,HttpOk3,HttpOk4

# This recipe help to Run once Supervisor, at startup.
# For options see http://pypi.python.org/pypi/z3c.recipe.usercrontab
[supervisor-crontab]
recipe = z3c.recipe.usercrontab
# copied from https://help.ubuntu.com/community/CronHowto
times = @reboot
command = ${buildout:bin-directory}/supervisord

##############################################################################
# logs
##############################################################################

# This recipe generates logrotate configurations
# For options see http://pypi.python.org/pypi/collective.recipe.template
[logrotate-config]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/logrotate.conf.template
output = ${buildout:directory}/etc/logrotate.conf

# This recipe to install a schedule task to run logrotate
# For options see http://pypi.python.org/pypi/z3c.recipe.usercrontab
[logrotate-crontab]
recipe = z3c.recipe.usercrontab
# copied from https://help.ubuntu.com/community/CronHowto
times = @daily
command = /usr/sbin/logrotate -s ${buildout:directory}/var/logrotate.status ${logrotate-config:output}

################################################################################
# maintenance and backup
################################################################################

# For options see http://pypi.python.org/pypi/collective.recipe.backup
[backup]
recipe = collective.recipe.backup
# Keep the last 4 backups
keep = 4
# Gzip it
gzip = true
# Command to execute before starting the backup.
pre_command = echo '\nCan I have a backup?'
# Command to execute after the backup has finished.
post_command =
    echo '\nThanks a lot for the backup.'
    echo 'We are done.'

# This recipe to install a schedule task to makes an incremental backup.
# For options see http://pypi.python.org/pypi/z3c.recipe.usercrontab
[backup-daily-crontab]
recipe = z3c.recipe.usercrontab
times = 0 2 * * 0-6
command = ${buildout:bin-directory}/backup

# This recipe to install a schedule task to makes a full backup, separate 
# from the regular backups. Handy for copying the current production database 
# to your laptop or right before a big change in the site.
# For options see http://pypi.python.org/pypi/z3c.recipe.usercrontab
[backup-weekly-crontab]
recipe = z3c.recipe.usercrontab
times = 0 2 * * 7
command = ${buildout:bin-directory}/snapshotbackup

# This recipe to install a schedule task to makes always makes a full backup.
# For options see http://pypi.python.org/pypi/z3c.recipe.usercrontab
[backup-full-weekly-crontab]
recipe = z3c.recipe.usercrontab
times = 0 2 * * 7
command = ${buildout:bin-directory}/fullbackup

# This recipe to install a schedule task to makes once a week, to remove 
# unused objects from your Zope Data.fs.
# For options see http://pypi.python.org/pypi/z3c.recipe.usercrontab
[maintenance-schedule-crontab]
recipe = z3c.recipe.usercrontab
times = 0 3 * * 7
command = ${buildout:bin-directory}/zeopack

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml

[sources]