# Plone site Production Known Good Verions - KGV
[versions]

# Buildout recipes versions
# -------------------------
collective.recipe.backup = 2.19
z3c.recipe.usercrontab = 1.1

# Supervisor packages
# -------------------
collective.recipe.supervisor = 0.19
supervisor = 3.0b1
#superlance = 0.8
meld3 = 0.6.7
